
@{
    ViewData["Title"] = "管理员控制台";
}
    <div class="row">
        <h2 style="margin:20px 20px;">欢迎来到 @ViewData["Title"]</h2>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <ul>
                <li class="btn btn-primary" style="margin:10px auto;">上传图片</li>
                <li class="btn btn-primary" style="margin:10px auto;">上传翻译</li>
                <li class="btn btn-primary" style="margin:10px auto;">修改资料</li>
            </ul>
        </div>

        <div class="col-md-10 col-sm-10 col-xs-10" style="border-style:dashed;">
            <p style="margin:100px 40%;font-size:larger;color:deeppink">内容还在建设</p>
        </div>

    </div>

