 <div class="card" style="margin:5px 0;padding:0 0;font-size:30px;border-color:pink;background-color:pink">
    <address class="col-md-offset-1 col-md-11" style="margin-top:30px;font-size:large;">
        <strong>QQ群：有咩有爱有欧派</strong> <br />
        <strong>689926620</strong><br />
        <abbr title="Phone"></abbr>
    </address>

    <address class="col-md-offset-1 col-md-11" style="font-size:large; ">
        <strong>B站公众号：</strong> <a href="https://space.bilibili.com/46059715/" style="color:deeppink;text-decoration:underline;font-size:larger">どどこ</a><br />
        <strong>微博账号：</strong> <a href="https://space.bilibili.com/46059715/" style="color:deeppink;">账号</a>
    </address>
</div>
 <img src="~/images/Resources/ayameoen.JPG" alt="anme" style="width:100%" />
