 <div class="commentBoard">
    <address class="col-md-offset-1 col-md-11" style="margin-top:30px;font-size:large;">
        <strong>QQ群：有咩有爱有欧派</strong> <br />
        <strong>689926620</strong><br />
        <abbr title="Phone"></abbr>
    </address>
     <hr />
    <address class="col-md-offset-1 col-md-11" style="font-size:large; ">
        <strong>B站公众号：</strong> <a href="https://space.bilibili.com/46059715/" style="color:deeppink;text-decoration:underline;font-size:x-large">どどこ</a><br />
        <strong>微博账号：</strong> <a href="https://space.bilibili.com/46059715/" style="color:deeppink;text-decoration:underline;font-size:x-large">账号</a>
    </address>
</div>
