@{
    ViewData["Title"] = "首页";
}

<div class="shutter" style="width:100%;" id="shutterBox">
      <div class="shutter-img">
                <a href="#" data-shutter-title="焼肉"><img src="~/images/Resources/10.jpg" alt="#" id="TurnImg"></a>
                <a href="#" data-shutter-title="寿司"><img src="~/images/Resources/3.jpg" alt="#" id="TurnImg"></a>
                <a href="#" data-shutter-title="前進"><img src="~/images/Resources/6.jpg" alt="#" id="TurnImg"></a>
      </div>
      <ul class="shutter-btn">
                <li class="prev"></li>
                <li class="next"></li>
      </ul>
      <div class="shutter-desc">
          <p style="color:deeppink;text-align:center;font-family:'MS Mincho';font-size:larger">欢迎加入我们！</p>
      </div>
</div>
<div style="display:none" id="GetActualSize">
</div>




