<div class="commentBoard">
    <div class="col-xs-12 col-md-12">
        <hr />
        <h2>扫图区</h2>
        <hr />
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="~/images/Resources/miniimg/1.png" class="thumbnail">
            <img src="~/images/Resources/miniimg/1.png"
                 alt="缩略图" title="点击查看原图">
        </a>
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="~/images/Resources/miniimg/2.png" class="thumbnail">
            <img src="~/images/Resources/miniimg/2.png"
                 alt="缩略图" title="点击查看原图">
        </a>
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="~/images/Resources/miniimg/3.png" class="thumbnail">
            <img src="~/images/Resources/miniimg/3.png"
                 alt="缩略图" title="点击查看原图">
        </a>
    </div>
    <div class="col-xs-12 col-md-12">
        <hr />
        <h2>翻译长图</h2>
        <hr />
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="~/images/Resources/miniimg/4.jpg" class="thumbnail">
            <img src="~/images/Resources/miniimg/mini-4.png"
                 alt="缩略图" title="点击查看长图">
        </a>
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="~/images/Resources/miniimg/7.jpg" class="thumbnail">
            <img src="~/images/Resources/miniimg/mini-7.jpg"
                 alt="缩略图" title="点击查看长图">
        </a>
    </div>
</div>