<div>
    <div class="commentBoard">
        <form asp-controller="Up" asp-action="Comment" role="form" method="post">
            <div class="col-md-11"  >
                <input name="text" style="background-color:#f4f5f7;border-radius: 5px;width:80%;height:200px;" placeholder="请输入留言，留言数目不超过50字" />
            </div>
            <div class="col-md-1">
                <input name="submit" value="submit" type="submit" class="btn btn-primary " />
            </div>
        </form>
    </div>
   
</div>



